@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background: #724ae8;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    height: 570px;
    transform: scale(0.5);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 10px 10px 25px 4px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 10px 10px 25px 4px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 25px 4px rgba(0, 0, 0, 0.41);
    transition: all 0.2s ease;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background-color: #724ae8;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
}

.chatbot .chatbox {
    height: 400px;
    overflow-y: auto;
    padding: 10px 20px 0px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: #724ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    color: #fff;
    max-width: 75%;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #724ae8;
}

.chatbox .incoming p {
    color: #000;
    border-radius: 10px 10px 10px 0;
    background: #f2f2f2;
    overflow-wrap: break-word;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    max-height: 180px;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

.questions-list {
    display: flex;
    position: absolute;
    bottom: 63px;
    overflow-x: auto;
    padding: 10px;
    max-width: 100%;
    gap: 8px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.questions-list::-webkit-scrollbar {
    display: none;
}

.query-list {
    display: none;
    position: absolute;
    bottom: 11%;
    z-index: 7;
    transition: all 1.1s ease-in-out;
    color: #000;
    width: 100%;
    max-height: 50%;
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
}

.query-list h2 {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
}

.query-list li {
    transition: all 0.2s ease-in-out;
    background-color: #f2f2f2;
    padding: 14px;
    cursor: pointer;
}

.query-list li:hover {
    color: #f2f2f2;
    background-color: #724ae8;
}


.questions-list li {
    list-style-type: none;
    background: #f2f2f2;
    padding: 5px;
    border-radius: 8px;
    min-width: fit-content;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.questions-list li:hover {
    background: #724ae8;
    color: #f2f2f2;
    transition: all 0.2s ease-in-out;
}

.darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 8;
    display: none;
}

.close-info {
    width: 100%;
    text-align: center;
    position: absolute;
    font-weight: 100;
    cursor: pointer;
    bottom: 6%;
    z-index: 7;
    color: #f2f2f2;
    display: none;
}

.middle-box {
    position: absolute;
    top: 15%;
    left: 15%;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    padding: 20px;
    width: 70%;
    height: 70%;
    background: #f2f2f2;
    z-index: 9;
    display: none;
}

.middle-box div {
    margin-top: 10px;
    width: 100%;
    height: max-content;
    overflow-y: scroll;
}

.complete-q-list li {
    list-style-type: none;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.complete-q-list li:hover {
    color: #724ae8;
}

.arrow-right,
.arrow-left,
.more,
.arrow-bottom,
.arrow-top {
    position: absolute;
    cursor: pointer;
    z-index: 7;
    bottom: 12.75%;
    width: 30px;
    height: 30px;
    opacity: 90%;
    background: #724ae8;
    color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.40);
    transition: all 0.2s ease-in-out;
}

.arrow-right,
.more {
    right: 2%;
}

.more {
    bottom: 20%;
}

.arrow-left {
    left: 2%;
}

.arrow-bottom {
    left: 45%;
    bottom: 7%;
    animation: movedown 1.1s infinite;
}

.arrow-top {
    left: 45%;
    top: 7%;
    animation: moveup 1.1s infinite;
}

.arrow-right:hover,
.arrow-left:hover,
.more:hover,
.arrow-bottom:hover {
    scale: 1.1;
}

@keyframes movedown {
    0% {
        bottom: 7%;
    }

    50% {
        bottom: 5%;
    }

    100% {
        bottom: 7%;
    }
}

@keyframes moveup {
    0% {
        top: 7%
    }

    50% {
        top: 5%
    }

    100% {
        top: 7%
    }
}

@media(max-width: 490px) {
    .chatbot {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .chatbot .chatbox {
        height: 77.5%;
    }

    .arrow-right,
    .arrow-left {
        bottom: 9.75%;
    }

    .more {
        bottom: 16%;
    }

    .chatbot header span {
        display: block;
    }
}